$white-color: #fff;
$lightdark-color : #171d25f2;
$purple-color: #676CDB;
$full-dark : rgb(12, 12, 12);
$dark-opacity : rgba(255,255,255, .5);
$C4-color : #C4C4C4;
$ni-color:rgb(20, 22, 37);
$black-color:black;
